pandas
numpy
plotly
pillow
torch==2.0.1+cpu
torchvision==0.15.2+cpu
transformers==4.36.2
spacy
sentence-transformers
bertopic
umap-learn
wordcloud
scikit-learn
joblib
protobuf
streamlit
python-dotenv